/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'MyFont';
    src: url('assets/Gilroy-Bold.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyFont-Light';
    src: url('assets/Gilroy-Light.ttf') format(truetype);
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'MyFont-Light';
    cursor: none;
}
#main{
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#cursor{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color:white;
    position: fixed;
    filter: blur(2px);
    filter: opacity(40%);
}